<!DOCTYPE html>
<html>
<head>
  <title>PlantReminders</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <%= button_to "Sign Out", session_url, method: :delete, form_class: "sign-out" %>
  <% end %>


<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
<%= yield %>

</body>
</html>
